/*
main red: #e74c3c
lighter red: #e36659
green: #04cb86
green hover: #42cf9e
grey: #e2e2e2
navy: #27353d





*/
table{
       border-bottom-left-radius: 25px;   
}
table th{
    height: 5em;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #a9a8a8;
 
    
}

.nav-pills{
background: #e2e2e2;
border-style: solid;
border-width:.2em;
border-right-style: none;
border-left-style: none;
border-top-style: none;
border-bottom-color: #b0b8b9;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
background-color:#e74c3c;

}
body{
background: #e2e2e2;

}
.myNav{
background: #e2e2e2;
margin-bottom: 0;

}
/*Green div with dary links*/
.spaceUnderJumbo{
background-color: #04cb86;
text-decoration:none;
height:16em;


}
.spaceUnderJumbo a:hover{
text-decoration:none;
}
.jumbotron{
background: #27353d;
color:#ecf0f1;
}
.link-btn { 
color: white; 
background-color: red; 
border-color: #E7E8E3; 
}
.btn-info {
    background-color: #e74c3c;
    //font-family:Open Sans;
    color: #fff;


}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #e36659;
  //border-color: #333;
}
/* arrow on jumbotron*/
.glyphicon-chevron-left,
.glyphicon-chevron-right{
color:white;

}
/* Box around the arrow on jumbotron*/
.arrowBox{
color:red;
background-color:#e36659;
width: 30px;
height: 34px;
margin-top: -15px;
font-size: 30px;
position: absolute;
top: 50%;
z-index: 5;
display: inline-block;
border:1px;
border-radius: 6px;
}
.arrowBox:hover,
.arrowBox:focus{
background-color:#e74c3c;

}
 .mainColour{
  background-color:#27353d;
  margin-top:0px;
  height:100%;
  background-image: url(../img/Event-Management.jpg);
  
}
.carouselCaptionMove,
.carouselCaptionMove3{
top: 8%;
}
.carouselCaptionMove2
{
    bottom: 49%;
}
.carouselCaptionMove2{
margin-left: 45em;
}
.carouselCaptionMove3{
margin-right: 400px;
}
.bandName{
color: #04cb86;
font-size: 3em;

}
.navbar{
  //  position: fixed;
    z-index: 1100;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus ,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a
{
  background-color: #e8645a;
  
}
.vouch{
background-color: #f3f3f3;
height:auto;
padding-bottom:5em;
}
.staff,
.staff2,
.customer{
background-color: #ffffff;
height:auto;
}

.staffImage,
.customerImage{
    margin-top: 1em;
}
/*Customers comment*/
.comment{
margin-top:2em;
//border-style: solid;
//border-width:.2em;
border-right-style: none;
border-left-style: none;
border-bottom-style: none;
//border-top-color: #e8645a;

}
.bioXS{
font-size:.9em;
}
.nameXS{
font-size:1em;
}
.secondaryButtons{
margin-top:6em;
}
.customerJob{
font-style: italic;
font-size:1.2em;
}
.staffHeader{
color:#777777;
}
/*GRAY button on customers*/
.previousButton{
background-color:#04cb86;
}
footer{
height:auto;
background-color: #04cb86;
}
.continueReading{
color:#e8645a;

}
.footerTitle{
color:#fff;
}
/* Dropdown for contact info on footer */
 ul li:hover ul{
display: block; /* display the dropdown */
}
.dropdown{
list-style-type: none;
}
.bookNowButton,
.bookNowButton1{
//background-color: rgb(0,0,0,0);
background-color: #e74c3c;
//border-style: solid;
//border-width:.2em;
//border-color: #e74c3c;
color: #fff;
width:12em;
}
.bookNowButton1{
margin-bottom:5.6em;
}
.bookNowButton:hover,
.bookNowButton:hover,
.bookNowButton1:hover,
.bookNowButton1:focus{
//background-color: #e74c3c;
background-color: #e36659;
color:#fff;
//font-weight:bold;
}

.footerLinks a
{
display: block;
color: #fff;
font-size:1.2em;
padding:.3em;
text-decoration:none;
}

.footerLinks a:hover {
color: #e74c3c;
}
.xsInvisiblePush{
height:3em;
color: #fff;
}


.dropdown a{
  text-decoration: none;  
 
}









.profile ul,
.profile ul a{
        padding: 0;
        list-style: none;
    }
 .profile   ul li a{
        float: left;
        width: 100px;
        text-align: center;
        line-height: 21px;
    }
.profile    ul li a{
        display: block;
        padding: 5px 10px;
        color: #333;
        background: #f2f2f2;
        text-decoration: none;
    }
 .profile   ul li a:hover{
        color: #fff;
        background: #939393;
    }
 .profile   ul li ul a{
        display: none;
    }
 .profile   a ul li:hover ul :hover a{
        display: block; /* display the dropdown */
    }
    .profile{
        float: right;
    }
    
    
    
    
.signIn,
.signUp{
  background-color: red;
  
    }
    /*Creating space between inputs and buttons */
button, html input[type="button"], input[type="reset"], input[type="submit"],
.password{
        margin-top: 1em;
    }
    
    .signIn_SignUp_Header{
        
        color:#f3f3f3;
    }
    
    .modal-body{
        max-height: 800px;
    }
    
    .loginBackground{
        background-color: rgba(254, 254, 254, 0.2);
        border-radius: 4px;
        margin-top:8em;
    }
    
    .nav-tabs>li>a {
        color: #fff;
    }
    
    /* Styling the events table only*/
    .homeTable td, th{
        border: 1px solid black;
        padding:3px; 
        //background-color: #e2e2e2;
    }
    #usernameError,
    #passwordError{
        color:#fff;
    }

    .displayingOtherTables{
        
        border-radius: 4em;
        width:100%;
        
    }
    .displayingOtherTables a{
        color: #fff;
        text-decoration: none;
        font-size: 1.3em;
    }
    
    .otherTablesBox{
    
         background-color: #e74c3c;
         //background-color: rgba(231, 76, 60, 0.7);
        border: 1px solid #e74c3c;
        border-radius: .3em;
        height: 100%;
    }
    
    .createAccount{
        color:black;
    }
    #horizontalLine,
    #horizontalLineMD,
    #horizontalLineSM{
        background-color: #e74c3c;
        height: .2em;
        margin-top:1em;
    }
    #horizontalLineMD{
        width:58%;
        float:right;
    }
    #horizontalLineSM{
        width:58%;
        float:right;
    }
    
    .contiueReadingBTN{
        background-color: #e74c3c;
        color:#fff;
        margin-top:.6em;
        font-size: .8em;
    }
    .customerCysleBTN{
        margin-top:.6em;
    }
    // Create Event -----------------------
    .createEventForm{
        background-color: #27353d;
    }
    
    #createEventFormBG{
        background-image: url(../img/createEventBG.jpg);
    }
      
    .createEventBTNs{
        background-color: #e74c3c;
    }
    .createEventBTNs:hover{
        background-color: #e36659;
        color:#fff;
    }
    
    .inputFieldPush{
        margin-top: 1em;
    }
    

    
    .editEventBTN{
        background-color: #e2e2e2;
        color: #fff;
       
    }
     .editEventBTN:hover{
        background-color:    #42cf9e;
        color: #fff;
    }
    
    
    .greenFont a{
     color:#04cb86;  
    }
    
    
    /*-----------------------------------------profile-----------------------------------------------*/

/* -- color classes -- */
.coralbg {
    background-color: #e74c3c;
} 

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  width:auto;
  z-index: 10;
  background-color: green;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}



/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}

/*--------------------------------------------------------------------------------*/

.profileRight{
    background-color: #04cb86;
}
.profileLeft{
    background-color: #e74c3c;
    height: 19em;
}
.user-image{
    margin-top:3em;
}

.deleteSelectedBTN{
    color: #fff;;
    margin-bottom: 12px;
}


/*<div class="row square col-lg-12">
            <div class="col-md-7 col-md-offset-5 user-details">
                <div class="row coralbg white">
                    <div class="col-md-6 no-pad">
                        hhhhhhhhhhhhhhhhhhhhhh
                    </div>
                    uuuuuuuuuuuuu
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>EVENTS</h3>
                        <h4>2,784</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>ACTIVE EVENTS</h3>
                        <h4>456</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>LOYALTY POINTS</h3>
                        <h4>1,901</h4>
                    </div>
                </div>
            </div>


        </div>
*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.whiteFont{
    color:#fff;
}
.redFont{
    color:#e74c3c;
    
}

.pushDown1em{
    margin-top: 1em;
}
.pushDown0{
    margin-top: 2em;
}
.pushDown1{
    margin-top: 4em;
}
.pushDown{
    margin-top: 8em;
}
.pushDown2{
    margin-top: 19em;
    position: absolute;
}
.greenBG{
    background-color: #04cb86;
}
.greenBG2{
    background-color: #04cb86;
    height:32em;
}
.redBG{
    background-color: #e74c3c;
    border-radius: .5em;
}
.displayingOtherTables a:hover{
    color:#04cb86;
}
.createManagerBG{
    background-image: url(../img/managerBG.jpg);
}

.font2{
    font-size: 3em;
}





/*----------------sidebar navigation------------------------------------------------------------------------------------------------------------------------------*/

#sidebar {
    width: 22em;
    height: 100%;
    position: fixed;
    background: #e74c3c;
}

#sidebar h5 {
	color: #fff;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/



ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}





ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*colour around the table links*/
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #e2e2e2;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}


.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}
.bold{
    font-weight: bolder;

}
.boldFont{
    font-weight: bolder;
    font-size: 2.6em;
}
.otherTablesFont{

    color: #fff;
    font-size: 2.5em;

}

.iconPushUp{
    margin-bottom: 1.6em;
}
.iconPushUp2{
    margin-bottom: .4em;
}


//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx mt box xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

/* LINE ICONS CONFIGURATION */

.mtbox {
	margin-top: 80px;
	margin-bottom: 40px;
}

.box1 {
	padding: 15px;
	text-align: center;
	color: #989898;
	border-bottom: .1em solid #989898;
        position: absolute;
        width: 100%;
        margin-top: -1.4em;
        z-index: 90;
        
       
}

.box1 span {
	font-size: 50px;

}

.box1 h3 {
	text-align: center;
}

.box0:hover .box1 {
	border-bottom: 1px solid #ffffff;
        position: absolute;
        width: 100%;
         background-color: #e2e2e2;
}
.box0.box1 {
	border-bottom: 1px solid #ffffff;
        position: absolute;
        width: 100%;
}

.box0 p {
	text-align: center;
	font-size: 12px;
	color: #f2f2f2;
        
}

.box0:hover p {
	color: #ff865c;
}

.box0:hover {
	background: #e2e2e2;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* MAIN CHART CONFIGURATION */
.main-chart {
	padding-top: 20px;
}

.mleft {
}

.border-head h3 {
    margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 15px;	
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: #989898;
}

.custom-bar-chart {
    height: 290px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    border-bottom: 1px solid #c9cdd7;
}

.custom-bar-chart .bar {
    height: 100%;
    position: relative;
    width: 6%;
    margin: 0px 4%;
    float: left;
    text-align: center;
    z-index: 10;
}

.custom-bar-chart .bar .title {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.custom-bar-chart .bar .value {
    position: absolute;
    bottom: 0;
    background: #ff865c;
    color: #68dff0;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}



.custom-bar-chart .bar .value:hover {
    background: #2f2f2f;
    color: #fff;
}

.y-axis {
    color: #555555;
    position: absolute;
    text-align: left;
    width: 100%;
    font-size: 11px;
}

.y-axis li {
    border-top: 1px dashed #dbdce0;
    display: block;
    height: 58px;
    width: 100%;
}

.y-axis li:last-child {
    border-top: none;
}

.y-axis li span {
    display: block;
    margin: -10px 0 0 -60px;
    padding: 0 10px;
    width: 40px;
}

///////////////////////////////could delete hald of this top bar ^^^^^^^^^
body {
  padding: 0 10px;
}

#some-element {
  display: none;
  font-size: 10px;
  //position:absolute;
//background-color: yellow;
  //width:34em;
  
}

#some-div:hover #some-element {
 display: block;
//background-color: yellow;
//position: absolute;
}
#some-div{
   // position: relative;
   // background-color: #e2e2e2;
    
}
.noSytle{
    list-style: none;
    margin-left: -1em;
    font-size: 1.2em;
    text-align: left;
} 
.noSytle li{
   margin-top: .8em;
} 


// Styling for the fixed sidebar START


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1050;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 900;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
   // margin-top: 3em;
    margin-left: -250px;
    overflow-y: auto;
    background: #e74c3c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #04cb86;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
// Styling for the fixed sidebar END

//tooltip style START



/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 330%;
    left: 25%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
   // background-color: #000;
    background-color: rgba(231, 76, 60, 1.4);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    z-index: 1100;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

//tooltip style END


.modal-dialog{
    background-color: white;
    border-radius: 5px;
}
.staffModalHeader{
    background-color: #fff;
}
.modal-header{
        
        border-top-left-radius: .4em;
     border-top-right-radius: .4em;
    }
 
.modal-body .pull-left
{
        margin-right: 1em;
}
.modal-body{
    background-color: #fff;
    
}
.modal-footer{
    background-color: #fff;
}
.modal-body .pull-right
{
        margin-left: 1em;
}
.staffBioModal{
    width:  300px;
    height: 300px;
}
*,
niceFont{
    font-family: 'Anaheim', sans-serif;
}
html, body {
    width:100%;
    height:100%;
}
.pushFromLeft{
    margin-left: 2em;
}
.profilePic{
    height: 8em;
}
#bigPluss{
    font-size: 5em;
}