#navBar{
width: 100%;
height: 50px;
background: #5ad7e6;
border-radius: 7px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-width: 2px;
border-color: black;
}

.navLinks {
width: 100%;
margin-left:270px;
padding: 0; 
font-family: Arial, Helvetica, sans-serif;
font-size:13px;
word-wrap: break-word;
display:flex;
overflow:hidden;
margin-top:-20px;
font-weight:500;
color: #fff;
list-style: none;
margin-top:-10px;
}
#nav li {
float: left;
}
.listItem{
    margin-left:15px;
    margin-top:15px;
}
html{
 background: #e67e22;   
}
/*
#table{
    background: #c0dcff;
    border-radius: 7px;
}
*/
table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px; 

 border-spacing: 2; 
}

td, th { 
border: 1px solid transparent; /* No more visible border */
height: 40px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;


}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.FieldEnlarge{
    width:200px;
}
.FieldEnlargeByHalf{
    width:100px;
}

#push{
    width:200px;
}
a:link {
    text-decoration: none;
}
 tr:nth-child(2){background: rgba(0,0,0,  0);}


/* CODE FOR MY NAVBAR*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
  width: auto;
  height: 59px;
  padding-bottom: 4px;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
  height: 10px;
  background: #0f71ba;
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;
  
}
#cssmenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
 
}
#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  
  color: #ffffff;
}

.thPush{
    width:100px;
}
#homeTable {
    width: 100%;
}
#noStyle{
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  
}

#noStyle tr:nth-child(even) td { background: rgba(0,0,0,  0) ;color:white; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
#noStyle tr:nth-child(odd) td { background: rgba(0,0,0,  0);color:white; }  

#noStyle tr td:hover { background: rgba(0,0,0,  0); color:white;; } /* Hover cell effect! */


    

.profile ul{
        padding: 0;
        list-style: none;
    }
 .profile   ul li{
        float: left;
        width: 100px;
        text-align: center;
        line-height: 21px;
    }
.profile    ul li a{
        display: block;
        padding: 5px 10px;
        color: #333;
        background: #f2f2f2;
        text-decoration: none;
    }
 .profile   ul li a:hover{
        color: #fff;
        background: #939393;
    }
 .profile   ul li ul{
        display: none;
    }
 .profile   ul li:hover ul{
        display: block; /* display the dropdown */
    }
    .profile{
        float: right;
    }